.productsSection {
    background-color: rgba(246, 246, 246, 0.88);
    text-align: center;
}

.productsContainer {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    column-gap: 25px;
    row-gap: 20px;
    flex-wrap: wrap;
    margin: auto 0;
}

.productsContainer > * {
    flex: 1 1 200px
}

.productSectionTitle {
    opacity: 0;
}

.productSectionTextsAnimated {
    animation: fade-up 1s ease-out forwards;
}

.productSectionTextsAnimated:nth-child(2) {
    animation-delay: 0.2s;
}

.productSectionTitle span {
    position: relative;
}

.productSectionTitle span::before {
    content: '';
    position: absolute;
    left: -40%;
    top: 50%;
    width: 80px;
    height: 2px;
    background-color: #3265B9;
}

.productSectionTitle span:after {
    content: '';
    position: absolute;
    right: -40%;
    top: 50%;
    width: 80px;
    height: 2px;
    background-color: #3265B9;
}

.productSectionText {
    color: #202b33;
    position: relative;
    opacity: 0;
}

.productSectionText::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -15px;
    width: 10%;
    height: 1px;
    background-color: rgba(231, 231, 231, 0.57);
    transform: translateX(-50%);
}

@keyframes fade-up {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width: 319px) {
    .productsContainer {
        justify-content: center;
        padding: 0 1rem;
    }

    .productSectionTitle {
        font-size: 1.1rem;
    }

    .productSectionTitle span::before {
        width: 40px;
        left: -28%;
    }

    .productSectionTitle span:after {
        width: 40px;
        right: -28%;
    }

    .productSectionText {
        padding: 0 1rem;
    }
}


/* mobile */
@media (min-width: 320px) and (max-width: 480px) {
    .productsContainer {
        justify-content: center;
    }

    .productsContainer > * {
        flex: 0 0 85%;
    }

    .productSectionTitle {
        font-size: 1.1rem;
    }

    .productSectionTitle span::before {
        width: 20%;
        left: -28%;
    }

    .productSectionTitle span:after {
        width: 20%;
        right: -28%;
    }

    .productSectionText {
        padding: 0 1%;
    }
}

@media (min-width: 481px) and (max-width: 540px) {
    .productsContainer {
        justify-content: center;
    }

    .productsContainer > * {
        flex: 0 0 75%;
    }
}

/* tablet */
@media (min-width: 541px) and (max-width: 768px) {
    .productsContainer {
        justify-content: center;
    }

    .productsContainer > * {
        flex: 0 0 45%;
    }
}

/* desktop */
@media (min-width: 769px) and (max-width: 1024px) {
    .productsContainer {
        justify-content: center;
    }

    .productsContainer > * {
        flex: 0 0 45%;
    }
}


