.allavitti{
    position: relative;
    padding: 0px 7rem;
    /* background-color: rgba(250, 243, 234, 0.7); */
}

.row, .col-12{
    margin: 0 !important;
    padding: 0 !important;
}

.allavitti .all-text{
    text-align: center; 
    padding-top: 30px; 
    padding-bottom: 40px;
    color: #3E667F;
}
 
.allavitti-pattern-left, .allavitti-pattern-right{
    width: 20%;
    position: absolute;
    top: 15%;
}

.allavitti .all-text h2{
    font-family: 'Allavitti', serif;
    font-size: 56px;
    font-weight: 700;
    margin: 0;
    letter-spacing: 3px;
}

.allavitti .all-text p {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
    bottom: 10px;
    letter-spacing: 3px;
}

.allavitti .row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.allavitti .row .all-right-img img{
    height: 550px;
    object-fit: cover;
    position: relative;
    bottom: 80px;
}

.allavitti .all-left-text ul{
    margin: 0;
    padding: 0;
}

.allavitti .all-left-text ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px !important;
    gap: 10px;
}

.allavitti .all-left-text ul li p{
    color: #000000;
    font-size: 28px;
    text-transform: uppercase;
    margin: 0;
}

.allavitti .all-left-text ul li .li-icons{
    width: 75px;
    height: 75px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D3DCE2;
}

.allavitti .all-left-text ul li .li-icons img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.allavitti .absolut-text-all{
    position: absolute;
    left: 5%;
    top: 19%;
    color: #3E667F;
    background-color: #D3DCE2;
    padding: 10px 20px;
    border-top-right-radius: 15px;
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom-right-radius: 15px;
    letter-spacing: 2px;
}

.allavitti .row .all-right-img{
    display: flex;
    justify-content: center;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    margin: 0 auto;
    background-color: #D3DCE2;
    height: 470px;
}

@media (max-width:991px){
    .allavitti{
        padding: 0px 4rem;
    }
    .allavitti .row{
        padding-top: 100px !important;
    }
    .allavitti .absolut-text-all{
        position: absolute;
        top: 13%;
    }
    .allavitti .all-left-text ul li p{
        font-size: 24px;
    }
    .allavitti .all-text h2{
        font-size: 50px;
    }
}

@media (max-width:680px){
    .allavitti{
        padding: 0px 2rem;
    }
    .allavitti .row{
        padding-top: 145px !important;
    }
    .allavitti .all-left-text ul li p{
        font-size: 20px;
    }
    .allavitti .row .all-right-img{
        margin-bottom: 20px;
    }
    .allavitti .absolut-text-all{
        font-size: 24px;
        right: 10px;
        left: 3%;
    }
    .allavitti .all-text h2{
        font-size: 45px;
    }
}

@media (max-width:500px){
    .allavitti{
        padding: 0px 1rem;
    }
    .allavitti .all-left-text ul li p{
        font-size: 18px;
    }
    .allavitti .absolut-text-all{
        position: absolute;
        top: 11%;
        left: 0%;
    }
}

@media (max-width:420px){
    .allavitti .row .all-right-img img{
        height: 450px;
        object-fit: cover;
    }
    .allavitti .row .all-right-img{
        height: 400px;
    }
    .allavitti .all-left-text ul li p{
        font-size: 16px;
    }
    .allavitti .all-left-text ul li .li-icons{
        width: 60px;
        height: 60px;
    }
    .allavitti .all-left-text ul li .li-icons img{
        width: 40px;
        height: 40px;
        object-fit: cover;
    }
    .allavitti .row{
        padding-top: 130px !important;
    }
    .allavitti .all-text h2{
        font-size: 40px !important;
    }
}

@media (max-width:380px){
    .allavitti .row .all-right-img img{
        height: 350px;
        object-fit: cover;
    }
    .allavitti .row .all-right-img{
        height: 280px;
    }
    .allavitti .absolut-text-all{
        position: absolute;
        top: 13%;
    }
    .allavitti .absolut-text-all{
        font-size: 20px;
    }
    .allavitti .all-left-text ul li .li-icons{
        width: 50px;
        height: 50px;
    }
    
    .allavitti .all-left-text ul li .li-icons img{
        width: 35px;
        height: 35px;
        object-fit: cover;
    }
    .allavitti .row{
        padding-top: 120px !important;
    }
    .allavitti .all-text h2{
        font-size: 36px !important;
    }
}