.product-btn-style{
    background: #3E667F !important;
    font-size: 15px !important;
    font-weight: 600 !important;
    padding: 4px 25px 2px 2px !important;
    border-radius: 25px !important;
    display: flex !important;
    align-items: center !important;
    gap: 10px !important;
}

.product-order-link{
    color: #fff !important;
    box-shadow: 0 4px 9px -4px #3b71ca;
}

.product-btn-style .product-btn-icon{
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 100%;
    color: #3E667F;
    font-weight: bold;
}

@media (max-width: 470px) {
    .product-btn-style {
        font-size: 10px !important;
        padding: 4px 15px 2px 2px !important;
        border-radius: 20px !important;
        gap: 6px !important;
    }

    .product-btn-style .product-btn-icon {
        border: 1px solid #fff;
    }
}

@media (max-width: 345px) {
    .product-btn-style {
        font-size: 8px !important;
        padding: 4px 10px 2px 2px !important;
        border-radius: 20px !important;
        gap: 6px !important;
    }

    .product-btn-style .product-btn-icon {
        min-width: 20px !important;
        width: 20px !important;
        min-height: 20px !important;
        height: 20px !important;
    }

    .product-btn-style .product-btn-icon svg {
        width: 15px;
    }
}