.article-card {
    position: relative;
    padding-left: 2.5rem;
    transition: all 0.4s linear;
}

.article-card:not(:last-child) {
    padding-bottom: 30px;
}

/*#FFA200*/

.article-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: rgba(62, 102, 127, 0.25);
    border-radius: 50%;
    z-index: 2;
    outline: 4px solid rgba(255, 255, 255, 0.16);
    transition: all 0.4s linear;
}

.article-card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 3px;
    width: 4px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.16);
    z-index: -1;
    border-radius: 5px;
}


.article-card .title {
    font-size: 1rem;
    color: #686868ed;
    cursor: pointer;
    transition: all 0.3s ease;
}


.article-card .title:hover {
    color: #68a6e5;
    text-decoration: underline;
}

.activeArticle::before {
     background-color: #3E667F;
     outline-color: rgba(62, 102, 127, 0.31);
}

.activeArticle .title {
    color: #3E667F;
}

.activeArticle .title:hover {
    color: #3E667F;
    text-decoration: none;
}


.article-card .text {
    font-weight: 300;
    font-style: italic;
    font-size: 0.8rem;
    color: #616364;
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.activeArticle .text {
    color: #3E667F;
}