*{
    margin: 0;
    padding: 0;
}

.row2, .col-12{
    margin: 0 !important;
    padding: 0 !important;
}

.diagnosis{
  background: linear-gradient(145deg, #192839 50%, #1ab4e2 115%);
  height: 100vh;
  z-index: 999 !important;
  position: relative;
}

.diagnosis .row2{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: flex;
    justify-content: space-between;
}

.diagnosis .diagnosis-img{
    width: 45%;
    height: 100vh;
    background-color: #fff;
    border-radius: 0 100% 0 0;
    margin-top: 2px !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.diagnosis .diagnosis-img .paper-signet{
    background-image: url('../../Assets/images/paper2.jpg');
    background-size: cover;
    width: 80%;
    height: 80%;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 50% 0 0;
}

.diagnosis .diagnosis-img .paper-signet img{
    object-fit: cover;
    width: 100px;
    height: 100px;
    position: relative;
    top:80px;
    left: 30px;   
}

.diagnosis .allavitti-text{
    width: 50%;
    padding: 50px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.diagnosis .allavitti-text h3{
    padding-bottom: 10px;
    color: #fff;
    font-size: 36px;
    font-weight: 700;
}

.diagnosis .allavitti-text p{
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
}


.text-white{
    color: #fff;
}

.diagnosisTitle {
    position: relative;
    color: #fff;
}

.fifthTitleAnimate .diagnosisSpan{
    padding: 5px 2px 5px 1px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: crimson;
    color: #fff;
    transition: 0.5s ease-in all;
}

.bg-lightDanger{
    background-color: crimson !important;
    transition: 0.3s ease-in all;
}

.bg-lightDanger:hover{
    background-color: rgb(8, 91, 132) !important;
}

@media (max-width:769px){
    .diagnosis .allavitti-text{
        padding: 20px !important;
    }
    .diagnosis .row2{
        display: flex;
        flex-direction: column !important;
        justify-content:center;
        align-items: center;
    }
     .diagnosis .diagnosis-img{
        width: 50%;
        height: 50vh;
        border-radius: 100%;
        margin-top: 2px !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .diagnosis .allavitti-text{
        width: 80%;
    }
    .diagnosis .diagnosis-img .paper-signet{
        position: relative;
        top: 0px; 
        align-items: center;
        border-radius: 100px;
        background-size: cover;
        width: 300px;
        height: 300px;
    } 
    .diagnosis .diagnosis-img .paper-signet img{
        width: 70px;
        height: 70px;
        position: relative;
        top:60px;
        left: 15px;   
    }
    .head-text{
        text-align: center;
    }
    .diagnosis .allavitti-text h3{
        font-size: 32px;
    }
}

@media (max-width:550px){
    .diagnosis .allavitti-text{
        padding: 10px !important;
    }
    .diagnosis .diagnosis-img{
        width: 70%;
        height: 35vh;
        border-radius: 100%;
        margin-top: -40px !important;
    }
    .diagnosis .allavitti-text{
        width: 95%;
    }
    .diagnosis .diagnosis-img .paper-signet{
        position: relative;
        top: 0px; 
        align-items: center;
        border-radius: 100px;
        background-size: cover;
        width: 210px;
        height: 210px;
    } 
    .diagnosis .diagnosis-img .paper-signet img{
        width: 50px;
        height: 50px;
        position: relative;
        top:40px;
        left: 15px;   
    }
    .diagnosis .allavitti-text h3{
        font-size: 30px;
    }
    .diagnosis .row2{
        padding: 0;
        margin: 0;
    }
}

@keyframes bottomToTop {
    0% {
        transform: translateY(100%);
        backdrop-filter: blur(0);
    }
    100% {
        transform: translateY(0);
        backdrop-filter: blur(3px);
    }
}

.second-bg {
    background-color: rgba(124, 195, 246, 0.27);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.fifth-bg-animate {
    backdrop-filter: blur(3px);
    animation: bottomToTop 1s ease-in-out;
}
